<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/shows.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form action="/flights/<%= flight._id %>" method="POST">
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
    
  <form action="/flights/<%= flight._id %>" method="POST">
  <section>
    <h2>Tickets</h2>
    <input class="tickets" name="seat" required pattern="[A-F][1-9]\d?" placeholder="Select your seat A1-F9" method="POST">
    <input class="tickets" name="price" type="number" placeholder="price" method="POST">
    <button type="submit">Add Ticket</button>
  </section>
</form>
  <% if(flight.tickets) { %>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td>$<%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Tickets Yet</h3>
  <% } %> 
</main>
  
<%- include('../partials/footer') %>