<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/shows.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form action="/flights/<%= flight._id %>" method="POST">
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
    <input name="seat" required pattern="[A-F][1-9]\d?">
  </section>
  <button type="submit">Add Ticket</button>
</form>
</main>
  
<%- include('../partials/footer') %>